{% extends "base.html" %}
{% load static %}
{% block title %}Şifre Güncellendi{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-container">
  <div class="signup-box">

    <div class="signup-image">
      <div class="overlay">

      </div>
    </div>

    <div class="signup-form text-center">
      <h2>Şifre Güncellendi ✅</h2>
      <p class="text-muted mt-3">Şifren başarıyla değiştirildi.</p>
      <a href="{% url 'login' %}" class="btn w-100 py-2 mt-4">
        <i class="bi bi-box-arrow-in-right me-1"></i> Giriş Yap
      </a>
    </div>

  </div>
</div>
{% endblock %}
