{% extends "base.html" %}
{% load static %}
{% block title %}E-posta Gönderildi{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-container">
  <div class="signup-box">
    <div class="signup-image">
      <div class="overlay">
      </div>
    </div>

    <div class="signup-form text-center">
      <h2>E-posta Gönderildi</h2>
      <p class="mt-3 text-muted">Şifre sıfırlama bağlantısı e-posta adresine gönderildi.</p>
      <a href="{% url 'login' %}" class="btn w-100 py-2 mt-4">Giriş Sayfasına Dön</a>
    </div>
  </div>
</div>
{% endblock %}
