{% extends "base.html" %}
{% load static %}
{% block title %}Şifre Sıfırla{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-container">
  <div class="signup-box">

    <!-- Sol taraf -->
    <div class="signup-image">
      <div class="overlay">
      </div>
    </div>

    <!-- Sağ taraf: form -->
    <div class="signup-form">
      <h2>Şifremi Unuttum</h2>

      <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="email" name="email" id="id_email" class="form-control" placeholder="E-posta adresiniz" required>
          <label for="id_email"><i class="bi bi-envelope me-2"></i> E-posta</label>
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2 mt-2">
          <i class="bi bi-envelope-check me-1"></i> Sıfırlama Bağlantısı Gönder
        </button>
      </form>

      <p class="mt-4 text-center text-muted small">
        Hesabını hatırladın mı?
        <a href="{% url 'login' %}" class="text-primary fw-semibold">Giriş Yap</a>
      </p>
    </div>

  </div>
</div>
{% endblock %}
