{% extends "base.html" %}
{% load static %}
{% block title %}Yeni Şifre Belirle{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-container">
  <div class="signup-box">

    <div class="signup-image">
      <div class="overlay">
      </div>
    </div>

    <div class="signup-form">
      <h2>Yeni Şifre</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
          <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Yeni şifre" required>
          <label for="id_new_password1"><i class="bi bi-lock me-2"></i> Yeni Şifre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Yeni şifre (tekrar)" required>
          <label for="id_new_password2"><i class="bi bi-lock-fill me-2"></i> Yeni Şifre (Tekrar)</label>
        </div>
        <button type="submit" class="btn btn-success w-100 py-2 mt-2">
          <i class="bi bi-check-circle me-1"></i> Şifreyi Güncelle
        </button>
      </form>
    </div>

  </div>
</div>
{% endblock %}
